<form action="/add" method="post">
    <a href="/voltar"><button>Voltar para o inicio</button></a>

    <p>Título</p>
    <input type="text" name="titulo">
    <p>Conteúdo:</p>
    <textarea name="conteudo" ></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>